/*  your css code here. If applicable */
*{
	box-sizing : border-box;
	margin : 0px;
	padding: 0px;
}
.search{
	height: 100vh;
	width: 100vw;
	background-color: lightblue;
	display: flex;
	justify-content : center;
	align-items : center;
}
input, button {
	padding : 7px;
	
}